appdirs==1.4.3
bokeh==0.12.15
configparser==3.5.0
Jinja2==2.10
MarkupSafe==1.0
mysqlclient==1.3.10
numpy==1.14.2
packaging==17.1
Pillow==6.2.0
py4j==0.10.6
pyparsing==2.2.0
pyspark==2.3.0
python-dateutil==2.7.2
PyYAML==3.12
selenium==3.11.0
six==1.11.0
tornado==5.0.2
#cd /Users/a6002538/.virtualenvs/big_data/bin
#export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_172.jdk/Contents/Home
